langchain==0.1.16
langchain-chroma
langchain-community==0.1.16
langchain-core==0.1.46
langchain-text-splitters
langchain-openai==0.1.8
langgraph==0.0.48
langgraph-checkpoint
python-dotenv
numpy
pypdf
cryptography
ddgs #duckduckgo_search
streamlit
chromadb


# requirement for streamlit cloud deployement
pysqlite3-binary # comment this line out when running on your local machine